*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2EFEB;
}
.navbar{
    height: 90px;
    width: 100%;
    padding: auto;
}
.card-body{
    background-color: #F8F6F4;
   
    /* margin: 20px; /* added some spacing * */
    
}
.custom-card {
    transition: transform 0.3s ease, border-color 0.3s ease;

  }
  
  .custom-card:hover {
    transform: scale(1.05   ); /* Increase the size by 5% on hover */   
    border-color: #007bff; /* Change the border color on hover (use your desired color) */
  }
.card{
    margin: 10px;
    

}
.row{
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}

.container {
    margin-left: 0;
    margin-right: 0;
    
}

/*.col{
    width: 40rem;
}
.row{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.container {
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    width: 100%;
}*/
/* Custom CSS to add equal margin between columns */
/* Custom CSS to add equal margin between columns */
